<!DOCTYPE html>
<html>

<head>
    <title>Lightbulb App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <a href="bulb.html">
        <button>Practical 13_2</button>
    </a>

    <p>1. Create a simple web application in Node.js.</p>
    <p> - You can create a basic Node.js web application using a framework like Express.js.</p>
    <p>2. Build a Docker image for that application.</p>
    <p> - To build a Docker image, create a Dockerfile that specifies the app's dependencies and how to run it.</p>
    <p>3. Instantiate a container from that image.</p>
    <p> - Use the 'docker run' command to create a container from the Docker image you built.</p>
    <p>4. Push the image to Docker Hub.</p>
    <p> - To push the image to Docker Hub, use 'docker push' after tagging it with your Docker Hub username.</p>
</body>

</html>
