body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 10px;
    margin-top: 50px;
  }
  
  button:hover {
    background: #3e8e41;
  }
  
  a {
    text-decoration: none;
  }
  p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}